<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinker.cloud.upms.mapper.SysRoleMenuMapper">
    <resultMap id="entity" type="com.thinker.cloud.upms.model.entity.SysRoleMenu"/>
    <resultMap id="vo" extends="entity" type="com.thinker.cloud.upms.api.sys.model.vo.SysRoleMenuVO"/>
    <sql id="condition">
        <if test="query != null">
            <if test="query.id != null">
                and base.id = #{query.id}
            </if>
            <if test="query.roleId != null">
                and base.role_id = #{query.roleId}
            </if>
            <if test="query.menuId != null">
                and base.menu_id = #{query.menuId}
            </if>
            <if test="query.ids != null">
                and
                <choose>
                    <when test="query.ids.size() > 0">
                        <foreach collection="query.ids" item="id" open="base.id in(" separator="," close=")">
                            #{id}
                        </foreach>
                    </when>
                    <otherwise>
                        false
                    </otherwise>
                </choose>
            </if>
        </if>
    </sql>

    <select id="page" resultMap="vo">
        select base.*
        from sys_role_menu as base
        <where>
            <include refid="condition"/>
        </where>
        <choose>
            <when test="query.orderField != null and query.orderField != ''">
                order by ${query.orderField} ${query.order}
            </when>
        </choose>
    </select>

    <select id="list" resultMap="vo">
        select base.*
        from sys_role_menu as base
        <where>
            <include refid="condition"/>
        </where>
        <choose>
            <when test="query.orderField != null and query.orderField != ''">
                order by ${query.orderField} ${query.order}
            </when>
        </choose>

    </select>

    <select id="idsByQuery" resultType="java.lang.Long">
        select base.id
        from sys_role_menu as base
        <where>
            <include refid="condition"/>
        </where>
    </select>

    <select id="countByQuery" resultType="java.lang.Integer">
        select count(1)
        from sys_role_menu as base
        <where>
            <include refid="condition"/>
        </where>
    </select>

    <select id="selectById" resultMap="entity">
        select base.*
        from sys_role_menu as base
        where base.id = #{id}
    </select>

    <select id="findDetail" resultMap="vo">
        select base.*
        from sys_role_menu as base
        where base.id = #{id}
    </select>
</mapper>
