<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinker.cloud.upms.sys.mapper.SysTenantMapper">
	<resultMap id="entity" type="com.thinker.cloud.upms.sys.model.entity.SysTenant"/>
    <resultMap id="vo" extends="entity" type="com.thinker.cloud.upms.api.sys.model.vo.SysTenantVO"/>
    <sql id="condition">
        <if test="query != null">
            <if test="query.id != null">
                and base.id = #{query.id}
            </if>
            <if test="query.name != null and query.name != ''">
                and base.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.code != null and query.code != ''">
                and base.code like concat('%',#{query.code},'%')
            </if>
            <if test="query.address != null and query.address != ''">
                and base.address like concat('%',#{query.address},'%')
            </if>
            <if test="query.startTime != null">
                and base.start_time = #{query.startTime}
            </if>
            <if test="query.startStartTime != null">
                and base.start_time >= #{query.startStartTime}
            </if>
            <if test="query.endStartTime != null">
                and base.start_time &lt;= #{query.endStartTime}
            </if>
            <if test="query.endTime != null">
                and base.end_time = #{query.endTime}
            </if>
            <if test="query.startEndTime != null">
                and base.end_time >= #{query.startEndTime}
            </if>
            <if test="query.endEndTime != null">
                and base.end_time &lt;= #{query.endEndTime}
            </if>
            <if test="query.maxUser != null">
                and base.max_user = #{query.maxUser}
            </if>
            <if test="query.enabled != null">
                and base.enabled = #{query.enabled}
            </if>
            <if test="query.sysName != null and query.sysName != ''">
                and base.sys_name like concat('%',#{query.sysName},'%')
            </if>
            <if test="query.sysAbbr != null and query.sysAbbr != ''">
                and base.sys_abbr like concat('%',#{query.sysAbbr},'%')
            </if>
            <if test="query.adminId != null">
                and base.admin_id = #{query.adminId}
            </if>
            <if test="query.password != null and query.password != ''">
                and base.password like concat('%',#{query.password},'%')
            </if>
            <if test="query.homePage != null and query.homePage != ''">
                and base.home_page like concat('%',#{query.homePage},'%')
            </if>
            <if test="query.description != null and query.description != ''">
                and base.description like concat('%',#{query.description},'%')
            </if>
            <if test="query.extendsInfo != null and query.extendsInfo != ''">
                and base.extends_info like concat('%',#{query.extendsInfo},'%')
            </if>
            <if test="query.isIncludeDelete == null or !query.isIncludeDelete">
                and base.deleted = false
            </if>
            <if test="query.createBy != null">
                and base.create_by = #{query.createBy}
            </if>
            <if test="query.createTime != null">
                and base.create_time = #{query.createTime}
            </if>
            <if test="query.startCreateTime != null">
                and base.create_time >= #{query.startCreateTime}
            </if>
            <if test="query.endCreateTime != null">
                and base.create_time &lt;= #{query.endCreateTime}
            </if>
            <if test="query.updateBy != null">
                and base.update_by = #{query.updateBy}
            </if>
            <if test="query.updateTime != null">
                and base.update_time = #{query.updateTime}
            </if>
            <if test="query.startUpdateTime != null">
                and base.update_time >= #{query.startUpdateTime}
            </if>
            <if test="query.endUpdateTime != null">
                and base.update_time &lt;= #{query.endUpdateTime}
            </if>
            <if test="query.ids != null">
                and
                <choose>
                    <when test="query.ids.size() > 0">
                        <foreach collection="query.ids" item="id" open="base.id in(" separator="," close=")">
                            #{id}
                        </foreach>
                    </when>
                    <otherwise>
                        false
                    </otherwise>
                </choose>
            </if>
        </if>
    </sql>

    <select id="page" resultMap="vo">
        select base.*
        from sys_tenant as base
        <where>
            <include refid="condition"/>
        </where>
        <choose>
            <when test="query.orderField != null and query.orderField != ''">
                order by ${query.orderField} ${query.order}
            </when>
            <otherwise>
                order by base.create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="list" resultMap="vo">
        select base.*
        from sys_tenant as base
        <where>
            <include refid="condition"/>
        </where>
        <choose>
            <when test="query.orderField != null and query.orderField != ''">
                order by ${query.orderField} ${query.order}
            </when>
            <otherwise>
                order by base.create_time desc
            </otherwise>
        </choose>

    </select>

    <select id="idsByQuery" resultType="java.lang.Long">
        select base.id
        from sys_tenant as base
        <where>
            <include refid="condition"/>
        </where>
    </select>

    <select id="countByQuery" resultType="java.lang.Integer">
        select count(1)
        from sys_tenant as base
        <where>
            <include refid="condition"/>
        </where>
    </select>

    <select id="selectById" resultMap="entity">
        select base.*
        from sys_tenant as base
        where base.id = #{id}
        and base.deleted = false
    </select>

    <select id="findDetail" resultMap="vo">
        select base.*
        from sys_tenant as base
        where base.id = #{id}
        and base.deleted = false
    </select>
</mapper>
